* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial;
  max-width: 600px;
  margin: auto;
}

#chat {
  text-align: start;
  border: 1px solid #ccc;
  padding: 10px;
  height: 400px;
  overflow-y: auto;
}

.msg {
  margin: 5px 0;
}

.user {
  color: blue;
}

.bot {
  color: green;
}
